.calculator {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.buttons {
  display: grid;
  gap: 10px;
}

input[type="text"] {
  width: calc(100% - 10px);
  margin-bottom: 10px;
}

.btn {
  font-size: 20px;
  padding: 15px;
  color: black;
}

/* Dark Mode */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode .btn {
  background-color: #2E2F38 !important;
  color: white !important;
}

.dark-mode .btn:hover {
  background-color: #1e1f27 !important;
  color: black;
}

.btn-primary {
  background-color: #D2D3DA;
  border-color: #D2D3DA;

}
.btn-primary:hover {
  background-color: #D2D3DA;
  color: black;
  border-color: #D2D3DA;
}

.btn-secondary {
  background-color: #FFFF;
}

.btn-secondary:hover {
  background-color: #FFFF;
  color: black;
}

.btn-success {
  background-color: #4B5EFC;
  border-color: #4B5EFC;
}

.btn-success:hover {
  background-color: #4B5EFC;
  color: black;
  border-color: #4B5EFC;
}

.btn-dark {
  background-color: #2E2F38;
  color: white;
}

.suggestions {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}
.suggestion {
  cursor: pointer;
  margin-bottom: 3px;
}

