.calculator {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.buttons {
  display: grid;
  gap: 10px;
}

input[type="text"] {
  width: calc(100% - 10px);
  margin-bottom: 10px;
}

.btn {
  font-size: 20px;
  padding: 15px;
  color: black;
}

/* Dark Mode */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode .btn {
  background-color: #2E2F38 !important;
  color: white !important;
}

.dark-mode .btn:hover {
  background-color: #1e1f27 !important;
  color: black;
}

.btn-primary {
  background-color: #D2D3DA;
  border-color: #D2D3DA;

}
.btn-primary:hover {
  background-color: #D2D3DA;
  color: black;
  border-color: #D2D3DA;
}

.btn-secondary {
  background-color: #FFFF;
}

.btn-secondary:hover {
  background-color: #FFFF;
  color: black;
}

.btn-success {
  background-color: #4B5EFC;
  border-color: #4B5EFC;
}

.btn-success:hover {
  background-color: #4B5EFC;
  color: black;
  border-color: #4B5EFC;
}

.btn-dark {
  background-color: #2E2F38;
  color: white;
}

.suggestions {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}
.suggestion {
  cursor: pointer;
  margin-bottom: 3px;
}

/* Find on https://alvarotrigo.com/blog/animated-backgrounds-css/ */ 
@import url(https://fonts.googleapis.com/css?family=Exo:100);
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

body {
  color: #999;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
  /* img size is 50x50 */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 0.92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 0.92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 0.92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

.col-4 {
  background-color: #fff;
}